<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_1.jpg"));"></div>
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_2.jpg"));"></div>
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_3.jpg"));"></div>
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_4.jpg"));"></div>
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_5.jpg"));"></div>
        <div class="single-welcome-slide bg-img" style="background-image: url(@Url.Content("~/img/bg-img/home_6.jpg"));"></div>
    </div>

    <section class="blog-details-area section-padding-80">
        <div class="container">
            <div class="post-details-text">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-10 col-lg-9">
                        <div class="text">
                            <h6>Fót</h6>
                        </div>

                        <p>
                            Ha megkérdezünk bárkit, hallott-e erről a Budapest melletti településről, azt fogja válaszolni:
                            gyermekváros. A szerencsétlen sorsú, állami gondozásba vett gyermekekről és a gondozásukra - az
                            egykori Károlyi kastélyhoz tartozó park területén – életre hívott otthonról már mindenki hallott. Csak
                            néhány utcát kell odébb sétálni ahhoz, hogy egy egészen más jellegű „gyermekvárosba” érkezzünk.
                            Egy olyan helyre, ahol egész életünkben megtapasztalhatjuk, hogy kortól függetlenül gyermekek
                            vagyunk. Az Isten gyermekei. Ezt a helyet úgy hívják, hogy Mandák-villa. Az egykori tulajdonos,
                            Mandák Mária - örököst nem hagyván maga után – belmissziói célokra az evangélikus egyháznak
                            ajánlotta fel ezt a csodálatos fekvésű villát, amiben immár hetedik évtizede zajlik az evangélikus
                            kántorok képzése. Olyan hely ez a világban, ahol a külvilágtól elzártan Isten közelségét
                            megtapasztalhatjuk a többszáz éves fák árnyékában, az épület minden szobájában jelenlévő orgona
                            vagy harmónium hangjában, az ódon lépcsők recsegésében, a kerti padokon gyülekezeti énekeket
                            tanuló tizenéves gyermekek énekhangjában, vagy a nagyteremből felhangzó kórus éneklésében. Ez
                            az a hely, ahová izgatott lélekkel és nyitott szívvel érkeztünk meg mi is a nyári kántorképző
                            tanfolyamokra, és feltöltődve bár, de szomorúan távoztunk, hiszen messze volt a következő nyár,
                            amikor ismét átélhettük azt a csodát, amit csak átélni lehet, leírni nem. Mert hogyan is lehetne leírni
                            azt, hogy mit jelentenek a reggeli és esti áhítatok, az elmélyült bibliaolvasással töltött reggelek, az
                            olykor küzdelmes, de később annál gördülékenyebb harmónium – és orgonagyakorlók, koráljaink
                            tanulása, tanítása, a szolfézs - és orgonaismeretórák és a kórus. Igen, a kórus. Három héten át
                            énekelhettünk négy-hatszólamú egyházi kórusmuzsikát, és hazatérve az iskolai kórusban jobb
                            esetben két-három szólamban csupán világi műveket próbáltunk. És már csak 51 hetet kellett várni,
                            hogy újra együtt legyünk…
                        </p>

                        <p>
                            Ilyesmi gondolatok járhattak az alapító, dr. Hafenscher Károly fejében, amikor úgy érezte, hogy életre
                            kell hívnia egy állandó kórust, amivel a nyáron megkezdett munkát nem kell évről évre újrakezdeni,
                            hanem a tanfolyami munkára alapozva, néhány évközi próbával talán megvalósítható, hogy missziói
                            célú kórusa alakuljon az egyházunknak. A gondolatot tett követte, és 1989 decemberében közel 30
                            fővel megalapította a Mandák kórust. 30 év telt el azóta. Kántorképzős hallgatók százai lettek
                            hosszabb-rövidebb ideig tagjai a kórusnak, és tapasztalhatták meg az énekes szolgálat örömét.
                            Meglátogattunk több, mint 80 gyülekezetet, énekeltünk élő közvetítésű televíziós istentiszteleteken,
                            jártunk több alkalommal külföldön, koncerteztünk felejthetetlen helyszíneken (Pesti Vígadó,
                            Aggteleki-cseppkőbarlang), és akár meglepő időpontokban - szilveszter éjjelén 23 órakor. És még
                            legalább 30 évig folytatjuk. Immáron családosan gyerekekkel. Hogy a következő generációk is
                            megélhessék azt, hogy ebben a kórusban valamiért századszor is csodálatos élmény elénekelni:
                        </p>

                        <blockquote class="razo-blockquote d-flex">
                            <div class="icon">
                                <i class="icon_quotations" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>
                                    „…et inclinato capite emisit spiritum”.
                                </p>
                            </div>
                        </blockquote>

                        <div class="text">
                            <h6>Hála légyen!</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Welcome Area End -->