@model IEnumerable<Mandak.WebApplication.Models.ArticleViewModel>
<!-- Event Welcome Area Start -->
<section class="event-welcome-area bg-overlay bg-img jarallax" style="background-image: url(@Url.Content("~/img/bg-img/news.jpg"));">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="event-welcome-text text-center">
                    <h2>Hírek, aktualitások</h2>
                    @*<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Welcome Area End -->
<div class="section-padding-80"></div>
<!-- Razo Event Area Start -->
<section class="razo-events-area section-padding-0-80">
    <div class="container">
        <div class="row">
            @foreach (var article in Model)
            {
                <!-- Single Razo Event Area -->
                <div class="col-12">
                    <div class="single-razo-event-area d-flex flex-wrap align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Event Content -->
                        <div class="event-content d-flex align-items-center">
                            <div class="event-text">
                                <h5>@article.Title</h5>
                                <div class="event-meta">
                                    <a class="event-address"><i class="icon_calendar"></i> @Html.DisplayNameFor(a => a.Date): @article.Date</a>
                                    <a class="event-address"><i class="icon_clock_alt"></i> @Html.DisplayNameFor(a => a.Time): @article.Time</a>
                                    <a class="event-address"><i class="icon_pin_alt"></i> @Html.DisplayNameFor(a => a.Location): @article.Location</a>
                                    <a class="event-address"><i class="icon_music"></i> @Html.DisplayNameFor(a => a.Conductor): @article.Conductor</a>
                                </div>
                                <p>@article.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Razo Event Area End -->